[submodule "Console/Common"]
	path = Console/Common
	url = https://github.com/Miguel-Martinho/Conway_MVC.git
	branch = common
[submodule "Unity/Assets/Scripts/Common"]
	path = Unity/Assets/Scripts/Common
	url = https://github.com/Miguel-Martinho/Conway_MVC.git
	branch = common
